{% extends "radiato/base.html" %}
{% block content %}
  <h3 class = 'uk-text-center'>Images from study</h3>
  <table class="uk-table uk-table-striped">
      <tbody>
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Tumor Type</th>
                <th>Tumor Size</th>
                <th>Phase</th>
                <th>Link</th>
            </tr>
        </thead>
        {% for record in records %}
          <tr>
              <td>{{record['timestamp']}}</td>
              <td>{{record['tumor_type']}}</td>
              <td>{{record['tumor_size']}}</td>
              <td>{{record['phase']}}</td>
              <td><a href="{{ url_for('db_viewer.preview', id=record['id']) }}">link</a></td>
          </tr>
          {%endfor%}
      </tbody>
  </table>
{% endblock content %}
